.git
.github
.idea
.vscode
node_modules
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
public/build
.env
.phpunit.cache
npm-debug.log
Dockerfile
docker-compose.override.yml
